PROJECT_NAME=ScarletSpots API
VERSION=0.1.0
API_V1_STR=/api/v1

# Formatting: http://localhost:3000, http://localhost:8000
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8081", "exp://localhost:19000"]

# Supabase
SUPABASE_URL=your-project-url
SUPABASE_KEY=your-anon-key
SUPABASE_JWT_SECRET=your-jwt-secret
